<div class="animated fadeIn">
    <div class="container">
      <div class="card">
        <!-- Nav tabs -->
        <tabset>
          <tab>
            <ng-template tabHeading><i class="icon-settings"></i> Settings</ng-template>
          
          </tab>
          <tab>
            <ng-template tabHeading><i class="icon-list"></i> Menu &nbsp;<span class="badge badge-pill badge-danger">29</span></ng-template>
          
          </tab>
          <tab>
            <ng-template tabHeading><i class="icon-list"></i> Charts</ng-template>
           
          </tab>
        </tabset>
      </div><!--/.col-->
    </div><!--/.row-->
  </div>
  