

.add-user-rolls{
    float: right;
    border-radius: 0;
}


* {
    box-sizing: border-box;
  }
  
  .bg-image {
    /* The image used */
    src:'assets/img/brand/hotel.jpg';
    /* Add the blur effect */
    filter: blur(1px);
    -webkit-filter: blur(2px);
    /* Center and scale the image nicely */
    background-position: center;

  }
  
  /* Position text in the middle of the page/image */
  .bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(81, 203, 233, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;

    z-index: 2;
    align-self: center;
    padding: 20px;
   
  }
